*{
   margin: 0;
}
header{
   background-color: aliceblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 7%;
   padding-right: 7%;
   padding-top: 20px;
   padding-bottom: 20px;
   position: sticky;
   top: 0;
   z-index: 1;
}
header .fa-solid{
  display: none;
}
ol{
   gap: 20px;
   display: flex;
   list-style: none;
}
.c{
    color: black;
    text-decoration: none;
}
.c:hover{
    color: peru;
}
.firstsection{
    background-color: #f2f2f2;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    padding-bottom: 30px; 
}
.yazid{
   display: flex;
   justify-content: space-between;
}
.m{
    color: blue;
}
.bel{
   width: 60%;
   font-size: 20px;
}

.pnj{
   width: 100%;
   border-radius: 50px;
}
.secondsection{
    background-color: burlywood;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.seconddiv{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.y{
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.th{
   padding-top: 15px;
   color: #ed4a18;
   font-size: 18px;
}
.thirdsection{
    background-color: azure;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.pg{
    padding-top: 10px;
    padding-bottom: 10px;
}
.Pi{
    background-color: blanchedalmond;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 7%;
    padding-right: 7%;
}
.ramdane{
   background-color: blanchedalmond;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 7%;
    padding-right: 7%;
}

.ac{
   width: 80%;
}
 .ss{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
 }
 .sc{
   padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color:coral;
    font-size: 50px;
 } 
 .pascal{
   padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color:coral;
    font-size: 50px;
 }
 .in{
   padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color:coral;
    font-size: 50px;
 }
 
 .ht{
    font-size: 20px;
 }
 span{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: blue;
 }
 .ip{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 15px;
 }
 .awal{
   width: 100%;
   height: 250px;
 }
 .cd{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 15px;
 }
 .faw{
   width: 100%;
   height: 250px;
 }
 .fc{
    font-size: 20px;
 }
 .pre{
    background-color: cornsilk;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 20px;
 }
 .yh{
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .tb{
   font-size: 22px;
 }
 .hy{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
 }
 .secondsection{
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .jl{
    color: #BD9C68;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    font-size: 100px; 
 }
 .World{
    display: flex;
    justify-content: space-between;
 }
 .fone{
      background-color: #BD9C68;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 30%;
   }
   .alao{
      display: flex;
      justify-content: center;
      background-color: gainsboro;
      padding-top: 10px;
      padding-bottom: 10px;
   }
 .akanwo{
   display: flex;
   gap: 10px;
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
}
 
 .h{
    color: whitesmoke;
 }
 .tensection{
   background-image: url(./Images/contact\ us.jpeg);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   padding-left: 7%;
   padding-right: 7%;
   padding-top: 40px;
   padding-bottom: 40px;
 }
 .gi{
   padding-bottom: 30px;
   padding-right: 190px;
 }
 .dell{
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
 }
 .lay{
   display: flex;
   justify-content: center;
 }
 .gl{
    background-color: #ed4a18;
     border-color: #ed4a18 ;
     padding-right: 20px;
     padding-left: 20px;
     padding-top: 10px;
     padding-bottom: 10px; 
     color: white;
 }
 .bv{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 22px;
 }
 .lm{
    padding: 15px;
    font-size: 18px;
 }
 .ml{
   font-size: 20px;
 }
.yu{
   padding: 15px;
}
.uy{
   padding-top: 10px;
   padding-bottom: 10px;
}
.pu{
   padding: 10px;
   font-size: 20px;
}
.iv{
   padding-left: 7%;
   padding-right: 7%;
   font-size: 22px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.hp{
   display: flex;
   gap: 20px;
   padding: 10px;
}
.fa-phone, .fa-envelope, .fa-location-crosshairs, .fa-square-whatsapp, .fa-square-facebook{
   font-size: 30px;
   
}

.re{
   font-family: 'Arial';
   font-size: 20px;
}
.own{
   background-color: #35424a;
   font-size: 30px;
   color: wheat;
   padding-left: 7%;
   padding-right: 7%;
   padding-top: 20px;
   padding-bottom: 20px;

}
.o4{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 20px;
}
.malik{
   border-radius: 50px;
   border-style: groove;
   border-color: #35424a;
   width: 100%;
   height: 400px;
}
.bac{
   padding: 15px;
}
.aremou{
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.bakari{
   display: grid;
   grid-template-columns: 1fr 1fr  1fr  1fr 1fr 1fr;
   gap: 20px;
}

.gh{
   background-color: rgba(197, 116, 18, 0.274);
   padding-left: 7%;
   padding-right: 7%;
}
.im{
   text-align: center;
   padding-top: 20px;
   padding-bottom: 10px;
   font-size: 30px;
   color: red;
}
.ph{
   text-align: center;
   padding-bottom: 20px;
   font-size: 30px;
   color: red;
}
.df{
   background-color: beige;
   padding-left: 7%;
   padding-right: 7%;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 20px;
}

.w:hover{
     color: #BD9C68;
     font-size: 20px;
}
.ir{
   background-color: #ed4a18;
   color: white;
   padding-left: 7%;
   padding-right: 7%;
   padding-top: 20px;
   padding-bottom: 20px;
}
.iranium{
    font-size: 25px;
    padding: 15px;
}
.ira{
   background-color: #35424a;
   color: whitesmoke;
   padding-left: 7%;
   padding-right: 7%;
   padding-top: 20px;
   padding-bottom: 20px;
}
.bg{
   font-size: 25px;
    padding: 15px;
}
.abc{
   font-size: 50px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;

}
.cab{
   padding: 15px;
}
.Qt{
   background-color: dimgray;
   padding-left: 7%;
   padding-right: 7%;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
}
.ho{
   text-align: center;
   font-size: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.tr{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 15px;
}
.ikmal{
   width: 100%;
   height: 200px;
}
.win{
   font-size: 18px;
}


footer{
   background-color: bisque;
   padding-left: 7%;
   padding-right: 7%;
}
.jtm{
   padding-top: 20px;
   text-align: center;
}
ul{
   list-style: none;
   font-size: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 20px;
} 
.ll{
   color: black;
   text-decoration: none;   
}

.ll:hover{
   color: peru;
}
.too{
   padding: 10px;
    font-size: 20px;
}
.oo{
   font-size: 30px;
   padding: 10px;
}
.papa{
    color: white;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 768px) {
   header .fa-solid {
      display: block;
  }

 header nav {
      width: 70%;
      position: fixed;
      top: 0;
      height: 100%;
      right: -50%;
      transition: 1s;
  }
  nav ol {
   display:block;
}
header li{
   padding: 5px;
}

.yazid{
   display: block;
}
.bel{
   width: 25%;
   font-size: 10px;
}
.seconddiv{
   display: grid;
   grid-template-columns: 1fr;
}
.y{
   font-size: 30px;
}
.thirdsection{
   font-size: 10px;
}
.fone{
   padding-top: 5px;
   padding-bottom: 5px;
   width: 90%;
}
.akanwo{
   display: flex;
   gap: 5px;
}
.pre{
   font-size: 10px;
}
.tb{
   font-size: 12px;
 }

 .bv{
   font-size: 12px;
}
 ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
} 
 .kosim{
   width: 50px;
 }

 .ip{
   display: grid;
   grid-template-columns: 1fr;
 }
 
 .in, .pascal{
    font-size: 20px;
 }
 .cd{
   display: grid;
   grid-template-columns: 1fr;
 }
 
.own{
   font-size: 20px;
}

.bakari{
   display: grid;
   grid-template-columns: 1fr;
}
.o4{
   display: grid;
   grid-template-columns: 1fr;
}
.tr{
   display: grid;
   grid-template-columns: 1fr;
}
.papa{
   font-size: 20px;
}
}

@media (max-width: 992px) {
   header .fa-solid {
      display: block;
  }

 header nav {
      width: 50%;
      position: fixed;
      top: 0;
      height: 100%;
      right: -50%;
      transition: 1s;
  }
  nav ol {
   display:block;
}
.yazid{
   display: block;
}
.bel{
      width: 40%;
      font-size: 15px;
}
.seconddiv{
   display: grid;
   grid-template-columns: 1fr;
}
.thirdsection{
   font-size: 15px;
}
.pre{
   font-size: 15px;
}
.tb{
   font-size: 18px;
 }
 .bv{
   font-size: 18px;
}
ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
} 
 .kosim{
   width: 70px;
 }
 .ip{
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 .in, .pascal{
   font-size: 30px;
}
.World{
   display: block;
   }
.cd{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 15px;
 }
.ki{
display: grid;
grid-template-columns: 1fr;
}
.own{
   font-size: 25px;
}
.bakari{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.o4{
   display: grid;
   grid-template-columns: 1fr;
}
.tr{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
}
